<!-- Website's change password page HTML file.

    Author: Alberto Porres Fernández
    Date: 07/07/2022

-->
{% extends "base_template.html" %}
{% block title %}Change password{% endblock %}
{% block content %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div>
        {{ form.current_password.label }}
        {{ form.current_password }}<br>
    </div>
    <div>
        {{ form.new_password_1.label }}
        {{ form.new_password_1 }}<br>
    </div>
    <div>
        {{ form.new_password_2.label }}
        {{ form.new_password_2 }}<br>
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}  