{% extends "base_template.html" %}
{% block title %}Login page{% endblock %}
{% block content %}

<body class = loginBody>
    <div class ="modal-dialog text-center">
        <div class="col-md-8 mainLogin">
            <div class="modal-content">
                <div class="col-12 loginImage">
                    <img src="/static/images/ubu-logoV2.jpg" width="180" height="150"/>
                </div>
                <form  action="" method="post" class="col-12" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.username.label }}
                        {{ form.username(class_="form-control",size=32) }}
                    </div>
                    <div class="form-group">
                        {{ form.password.label }}
                        {{ form.password(class_="form-control") }}
                    </div>
                    <div>
                        {{ form.submit(class_="form-control") }}
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}  