{% extends "base_template.html" %}
{% block title %}Studen Califications Page{% endblock %}
{% block content %}
    Bienvenido {{ name }} <br>
    
    <table>
        <tr>
            <th>Seccion</th>
            <th>Tarea</th>
            <th>Calificacion</th>
        </tr>
    {% for calification in califications %}
        <tr>
            <td>{{ calification[0] }}</td>
            <td>{{ calification[1].task_name }}</td>
            <td>{{ calification[1].value }}</td>
        </tr>

    {% endfor %}
    </table>
{% endblock %}  