{% extends "base_template.html" %}
{% block title %}Course Page{% endblock %}
{% block content %}
    Bienvenido {{ name }} <br>

    {% for section in sections %}
        <h2>{{ section[0].name }}</h2>
        <a href="{{ url_for('download_content', course=course, filename=section[0].content_name) }}"> Descargar contenido teorico de {{ section[0].name }}</a>
        <a href="{{ url_for('download_task', course=course, filename=section[0].task_name) }}"> Descargar tarea de {{ section[0].name }}</a>

        {% if section[1] == "True" %}
            <div>Ya ha entregado esta tarea</div>
        {% else %}
            <form method = "POST" enctype="multipart/form-data">
                <input type = file name = file>
                <input type = hidden name = task value = "{{ section[0].task_name }}">
                <input type = hidden name = section value = "{{ section[0].id }}">
                <input type= submit value = "Entregar Tarea" >

            </form>
            <br>
        {% endif %}



    {% endfor %}
{% endblock %}  