{% extends "base_template.html" %}
{% block title %}Teacher Califications Page{% endblock %}
{% block content %}
    
    {% if califications %}
    <h1 class = "jumbotron-heading" style="font-size: 2em;
    font-weight: 600;">Calificaciones de sus alumnos:</h1><br>
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th> Curso </th>
            <th> Sección </th>
            <th> Alumno </th>
            <th> Usuario </th>
            <th> Tarea </th>
            <th> Calificación </th>
            <th></th>

        </tr>
        </thead>
        <tbody>
    {% for calification in califications %}
        <tr>
            <td>{{ calification[0] }}</td>
            <td>{{  calification[1]  }}</td>
            <td>{{ calification[2] }}</td>
            <td>{{  calification[3]  }}</td>
            <td>{{ calification[4] }}</td>
            <td>{{  calification[5]  }}</td>
            <td>
                <a class="btn btn-outline-light" href="{{ url_for('download_submission', course=calification[0] , student=calification[3], task_name=calification[4] ) }}"
                 style="font-weight: 600;"> Descargar entrega</a> 
            </td>

        </tr>

    {% endfor %}
    {% else %}
    <h1 class = "jumbotron-heading" style="font-size: 2em;
    font-weight: 600;">Todavía no hay ninguna calificacion</h1><br>
    {% endif %}
    </tbody>
    </table>



{% endblock %}  