{% extends "base_template.html" %}
{% block title %}Teacher Course Students Page{% endblock %}
{% block content %}
    <h2>{{ name }}</h2>  <br>
    <br>
<div class = "row">
        <div class = "table-responsive col-md-6">
            <h2 class = "sub-header"> Alumnos dentro del curso {{ course }}:</h2>
            <table class = "table table-striped">
                <thead>
                    <tr>
                        <th> Nombre </th>
                        <th> Nombre de Usuario </th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for student_in in students_in %}
                    <tr>
                        <td>{{ student_in.name }}</td>
                        <td>{{ student_in.username }}</td>
                        <td> 
                            <form action="{{ url_for('teacher_quick_student', course = course, student = student_in.username) }}" >
                                <input type="submit" value = "Sacar del curso" />
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>




    
        <div class = "table-responsive col-md-6">
            <h2 class = "sub-header"> Alumnos fuera del curso {{ course }}:</h2>
            <table class = "table table-striped">
                <thead>
                    <tr>
                        <th> Nombre </th>
                        <th> Nombre de Usuario </th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for student_out in students_out %}
                    <tr>
                        <td>{{ student_out.name }}</td>
                        <td>{{ student_out.username }}</td>
                        <td> 
                            <form action="{{ url_for('teacher_enrroll_student', course = course, student = student_out.username) }}" >
                                <input type="submit" value = "Ingresar en el curso" />
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}  