{% extends "base_template.html" %}
{% block title %}Course Page{% endblock %}
{% block content %}
    {% if sections %}
    <h1 class = "jumbotron-heading" style="font-size: 2em;
    font-weight: 600;">{{ course.name }}</h1><br>

    {% for section in sections %}
    <div class="container mb-3 mt-3">
        <table  class="table table-striped table-bordered" style="width:100%; border: 2px solid;">
            <thead>
                <th colspan="3"><h2>{{ section.name }}</h2></td>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a class="btn btn-outline-primary" href="{{ url_for('download_content', course=course.name, filename=section.content_name) }}"
                    style="font-weight: 600;">Descargar contenido teórico</a>
                </td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ url_for('download_source', course=course.name, filename=section.task_name) }}"
                    style="font-weight: 600;">Descargar tarea versión profesor</a>
                </td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ url_for('download_task', course=course.name, filename=section.task_name) }}"
                    style="font-weight: 600;">Descargar tarea versión estudiante </a>
                </td>
            </tr>

            </tbody>
        </table>
        <a class="btn btn-outline-danger" href="#" data-toggle="modal" data-target="#confirm-del-{{ section.id }}"
                    style="font-weight: 600;">Eliminar</a>
    </div>
    <br><br>
    {% endfor %}
    {% else %}
    <h1 class = "jumbotron-heading" style="font-size: 2em;
    font-weight: 600;">Todavía no hay ninguna sección de contenido</h1><br>
    {% endif %}

    <a class="btn btn-primary" href="{{ url_for('teacher_create_section', course = course.name) }}"
     style="margin-left: 2%; margin-right: 4%; padding: 10px; font-weight: 600;"> Crear sección de forma directa</a> 
    <a class="btn btn-primary" href="{{ url_for('teacher_create_unreleased_section', course = course.name) }}" 
    style="margin-left: 2%; margin-right: 3%; padding: 10px; font-weight: 600;"> Crear sección con tarea creada manualmente</a> 
    <a class="btn btn-primary" href="{{ url_for('teacher_unreleased_sections', course = course.name) }}" 
    style=" margin-left: 2%; margin-right: 2%; padding: 10px; font-weight: 600;" > Ir a las secciones sin publicar</a> 
    <br><br><br>

    {% for section in sections %}

    <div class="modal fade" id="confirm-del-{{ section.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">¿Desea realizar esta acción?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-outline-success" href="{{ url_for('delete_section', course_name = course.name, section_name=section.name) }}">Confirmar</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    

{% endblock %}  
