<!-- Teacher's Create unreleased section page HTML file.

    Author: Alberto Porres Fernández
    Date: 07/07/2022

-->
{% extends "base_template.html" %}
{% block title %}Create Course{% endblock %}
{% block content %}
<h1 class = "jumbotron-heading" style="font-size: 2em;
    font-weight: 600;">Creación de sección de contenido con tarea manual:</h1><br>

<form id = "mainForm" method = "POST" enctype="multipart/form-data" >
    <div class = "form-group col-md-4 offset-md-4">
        <label for="name"> Nombre: </label>
        <input type="text" id ="name" name = "name" class ="form-control"><br>
        <label for="task_name"> Nombre de la tarea: </label>
        <input type="text" id ="task_name" name = "task_name" class ="form-control"><br> 
        <label for="content"> Archivo de contenido teórico: </label>
        <input type = file name = content_file><br> <br> 
        <input type= submit  value = "Crear sección no publicada">
    </div>
</form>



{% endblock %}  

