{% extends "base_template.html" %}
{% block title %}Teacher Students student{% endblock %}

{% block content %}
    <h2>{{ name }}</h2>  <br>
    <h2>Alumno: {{ student }}</h2>  <br>
    
    
    <table>
        <tr>
            <th>Curso</th>
            <th>Seccion</th>
            <th>Tarea</th>
            <th>Calificacion</th>
        </tr>
    {% for calification in califications %}
        <tr>
            <td>{{ calification[0] }}</td>
            <td>{{ calification[1] }}</td>
            <td>{{ calification[2].task_name }}</td>
            <td>{{ calification[2].value }}</td>
        </tr>

    {% endfor %}
    </table>

    <form action= "" method="POST", enctype="multipart/form-data" id = "deleteForm">
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#deleteModal">ELIMINAR ALUMNO</button>
    </form>

    <!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">¿Desea realizar esta acción?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" id="btnConfirm" onclick="form_submit()">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function form_submit(){

        $("#deleteModal").modal("hide");
                
        // confirmar
        document.getElementById("deleteForm").submit();
    }
</script>
{% endblock %}  