{% extends "base_template.html" %}
{% block title %}Teacher Students Page{% endblock %}
{% block content %}
    <h2>{{ name }}</h2>  <br>
    <h2>Alumnos pertenecientes a sus cursos:</h2> 
    <br><br>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Nombre de usuario</th>

        </tr>
    {% for enrroll in enrrolled %}
        <tr>
            <td><a href="{{ url_for('teacher_students_student', student=enrroll.username) }}">{{ enrroll.name }}</a></td>
            <td>{{  enrroll.username  }}</td>
        </tr>

    {% endfor %}
    </table>
 


<form action = "/teacher/create_student">
    <input type = submit value = "Crear nuevo alumno">
</form>

    
{% endblock %}  