<!-- Teacher's unreleased sections page HTML file.

    Author: Alberto Porres Fernández
    Date: 07/07/2022

-->
{% extends "base_template.html" %}
{% block title %}Unreleased sections{% endblock %}
{% block content %}
    {% if sections %}
    <h1 class = "jumbotron-heading" style="font-size: 2em;
    font-weight: 600;">Secciones sin publicar</h1><br>

    <div class="position-relative">
        <a class="btn btn-outline-secondary"
        href="https://nbgrader.readthedocs.io/en/stable/user_guide/creating_and_grading_assignments.html#developing-assignments-with-the-assignment-toolbar"
        target="_blank"> Ayuda creación de tareas </a> 
    </div>

    
    
    <div class="container mb-3 mt-3">
        <table  class="table table-striped table-bordered" style="width:100%; border: 2px solid;">
            <thead>
                <th>Sección:</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
    {% for section in sections %}
            <tr>
                <td>{{ section.name }}</td>
                <td>
                    <a class="btn btn-outline-success" href="#" data-toggle="modal" data-target="#confirm-publish-{{ section.id }}">Publicar</a>
                </td>
                <td>
                    <a class="btn btn-outline-primary" target="_blank"
                     href="http://localhost:8888/notebooks/{{ course.name }}/source/{{ section.task_name }}/{{ section.task_name }}.ipynb">Editar</a> <br>
                </td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ url_for('download_source', course=course.name, filename=section.task_name) }}"
                    >Descargar estado actual de la tarea</a>
                </td>
                <td>
                    <a class="btn btn-outline-danger" href="#" data-toggle="modal" data-target="#confirm-delete-{{ section.id }}">Eliminar</a>
                </td>
            </tr>
    {% endfor %}
            </tbody>
        </table>
    </div>
    <br><br>

    <a class="btn btn-primary" href="{{ url_for('teacher_create_unreleased_section', course = course.name) }}" 
    style="margin-left: 2%; margin-right: 3%; padding: 10px; font-weight: 600;"> Crear sección con tarea creada manualmente</a> 

    {% for section in sections %}

    <div class="modal fade" id="confirm-publish-{{ section.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">¿Desea realizar esta acción?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-outline-success" href="{{ url_for('publish_section',course = course.name, section = section.name) }}">Confirmar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirm-delete-{{ section.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">¿Desea realizar esta acción?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-outline-success" href="{{ url_for('cancel_section',course = course.name, section = section.name) }}">Confirmar</a>
                </div>
            </div>
        </div>
    </div>
    

    {% endfor %}
    
    {% else %}
    <h1 class = "jumbotron-heading" style="font-size: 2em;
    font-weight: 600;">No hay ninguna sección de contenido sin publicar</h1><br>
    <a class="btn btn-primary" href="{{ url_for('teacher_create_unreleased_section', course = course.name) }}" 
    style="margin-left: 2%; margin-right: 3%; padding: 10px; font-weight: 600;"> Crear sección con tarea creada manualmente</a> 
    {% endif %}

{% endblock %}  